{{ $categories := .Params.categories | default slice }}

{{ if in $categories "Übungen" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ExerciseAction",
  "name": "{{ .Title }}",
  "description": "{{ .Params.description }}",
  "url": "{{ .Permalink }}",
  "exerciseType": "StrengthTraining",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "isPartOf": {
    "@type": "WebSite",
    "name": "Krafttraining Ratgeber",
    "url": "https://krafttraining.online/"
  }
}
</script>
{{ else if in $categories "Trainingspläne" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ExercisePlan",
  "name": "{{ .Title }}",
  "description": "{{ .Params.description }}",
  "url": "{{ .Permalink }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "isPartOf": {
    "@type": "WebSite",
    "name": "Krafttraining Ratgeber",
    "url": "https://krafttraining.online/"
  }
}
</script>
{{ else }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ .Params.description }}",
  "url": "{{ .Permalink }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "author": { "@type": "Organization", "name": "Krafttraining Ratgeber" },
  "publisher": {
    "@type": "Organization",
    "name": "Krafttraining Ratgeber",
    "url": "https://krafttraining.online/"
  }
}
</script>
{{ end }}
